<a href="https://colab.research.google.com/github/93gh4ucf/Coursera_Capstone/blob/main/Agrupaci%C3%B3n_y_Segmentaci%C3%B3n_de_Vecindarios_en_la_Ciudad_de_Nueva_York_(part_II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [5]:
#!conda install -c conda-forge geopy --yes # retirar el comentario de esta línea si no ha completado el laboratorio de la API de FourSquare
from geopy.geocoders import Nominatim # convertir una dirección en valores de latitud y longitud

import requests # librería para manejar solicitudes
from pandas.io.json import json_normalize # librería para convertir un archivo json en un dataframe pandas

# Matplotlib y módulos asociados para graficar
import matplotlib.cm as cm
import matplotlib.colors as colors

# importar k-means desde la fase de agrupación
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # retirar el comentario de esta línea si no ha completado el laboratorio de la API de FourSquare
import folium # librería para graficar mapas

print('Libraries imported.')

Libraries imported.

**Web Scrapin de los Datos**

Por medio de BeatifulSoup se hace Web Scraping para obtener los datos de la página web que contiene los códigos postales de Toronto.

In [6]:
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html.parser")

Una vez hecha la sopa de datos se traen solo los datos de la tabla ya que contienen los codigos postales de Toronto.

In [7]:
table = soup.find('table')

In [8]:
file=[]
ncol=list(range(0,9))

for i in ncol :

    for row in table.find_all('tr'): # in html table row is represented by the table
    # Get all columns in each row.
        cols = row.find_all('p') # in html a column is represented by the tag td or p
        file.append(cols[i].getText())

    # convert to dataframe:
df= pd.DataFrame(file)

**Tabla de Códigos Postales**

Despues de traer los datos que estan contenidos en la tabla, por medio de pandas se le da formato a la tabla para obtener la salida deseada.

In [9]:
df["Postal Code"]=df[0].str[0:3]
df["Borough"]=df[0].str[3:].str.split("(",n=1,expand=True)[0]
df["Neigh"]=df[0].str.rsplit("(",n=2,expand=True)[1].str.split(")",n=1,expand=True)[0]
df["Neighbourhood"]=df["Neigh"].str.replace(" / ",",")

In [10]:
postalcode_list=df[(df["Borough"]!="Not assigned\n")]
postalcode_list=postalcode_list.drop([0,"Neigh"],axis=1)

In [11]:
postalcode_list.head()

  Postal Code      Borough                         Neighbourhood
1         M1B  Scarborough                         Malvern,Rouge
2         M1C  Scarborough  Rouge Hill,Port Union,Highland Creek
3         M1E  Scarborough       Guildwood,Morningside,West Hill
4         M1G  Scarborough                                Woburn
5         M1H  Scarborough                             Cedarbrae

In [9]:
postalcode_list.shape

(103, 3)

**Cordenadas de Latitud y Longitud**

Por medio del paquete Geocoder Python: https://geocoder.readthedocs.io/index.html. Se obtienen los datos de Latitud y Longitud para cada código postal.

Para asegurarse de obtener las coordenadas de todos los vecindarios, se puede ejecutar un ciclo while para cada código postal.

In [12]:
#"http://cocl.us/Geospatial_data"
Geospatial_Coordinates=pd.read_csv("/content/Geospatial_Coordinates.csv")

Una vez obtenidas las coordenadas se adjuntan al dataset de códigos postales

In [13]:
coord_list=pd.merge(postalcode_list,Geospatial_Coordinates,on="Postal Code")

In [14]:
coord_list.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill,Port Union,Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476